/* override table width restrictions */
@media screen and (min-width: 767px) {

    .wy-table-responsive table td {
        /* !important prevents the common CSS stylesheets from overriding
           this as on RTD they are loaded after this stylesheet */
        white-space: normal !important;
    }
    .wy-table-responsive {
        overflow: visible !important;
    }
}

@media screen and (max-width: 768px) {

    .wy-nav-content-wrap.shift {
        /* !important prevents the common CSS stylesheets from overriding
           this as on RTD they are loaded after this stylesheet */
        top: unset !important;
    }
}

.wy-nav-side {
    margin-top: 38px !important;
}

@media (max-width: 298px) {

    .wy-nav-side {
        margin-top: 68px !important;
    }
}

@media (min-width: 299px) and (max-width: 570px) {

.wy-nav-side {
        margin-top: 51px !important;
    }
}

@media (min-width:571px) and (max-width: 900px) {

.wy-nav-side {
        margin-top: 34px !important;
    }
}


.rst-content dl:not(.docutils) dt em {
    font-style: normal !important;
    line-height: 1.4em !important;
}

.rst-content div[class^='highlight'] {
    background: #fff !important;
}

img.logo {
    width: 120px !important;
}
